<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ac 1 - LP3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-list>

      <ion-item>
        <ion-select placeholder="Selecione a frutinha">
          <ion-select-option value="peso1">Apples</ion-select-option>
          <ion-select-option value="peso3">Oranges</ion-select-option>
          <ion-select-option value="peso7">Bananas</ion-select-option>
          <ion-select-option value="peso10">Bananas</ion-select-option>
        </ion-select>
      </ion-item>
    
    <ion-list-header> Tipos de entregas </ion-list-header> <!--coloca dentro da lista pois é rolavel apois-->
        <ion-radio-group> <!--oq faz o ngmodel? pega um valor do html e manda par o ts, la no ts precisa ter uma variavel seelecionada para ter o ocnteudo-->
          <ion-item>
            <ion-label>Entrega rápida! Receber amanhã - por R$20,00</ion-label>
            <ion-radio slot="end" value="freteAM"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Entrega rápida! Receber em 2 dias - por R$15,00</ion-label>
            <ion-radio slot="end" value="frete2"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Entrega demorada! Receber em 5 dias - por R$10,00</ion-label>
            <ion-radio slot="end" value="frete5"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Entrega normal! Receber em 7 dias - por R$5,00</ion-label>
            <ion-radio slot="end" value="frete7"></ion-radio>
          </ion-item>
        </ion-radio-group>
    </ion-list>
    <ion-button expand="block" (click)="calcular()">Continuar</ion-button>
</ion-content>